.message {
    overflow-wrap: break-word;
}

.popup {
    width: 350px;
    aspect-ratio: 2/1;
    z-index: 1;
    line-height: 100%;
    text-align: center;
    padding: 50px 0 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
}

.failed {
    background-color: red;
}

.passed {
    background-color: green;
}
