.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    position: relative;
}

.revealed {
    background-color: green;
}

.controlPanel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentBox {
    border: 3px solid red;
}

.currentBox {
    border: 2px solid red;
    background-color: bisque;
}
