.prisonContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 2px;
    width: 50%;
    aspect-ratio: 1/1;
    margin: auto;
}

.box {
    background-color: grey;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.number {
    margin: auto;
    font-size: 24px;
    width: 100%;
}
